<ion-header no-border>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card" >
        <ion-card-header >
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title class="texto" Color="medium" mode="ios" >Control Lechero UFPSO</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <img  class="icon" src="assets/icon/icono_leche.svg">
            <br>
            <ion-button color="tertiary" expand="block" routerLink="/registro">Registrarse</ion-button>
            <ion-button color="tertiary"  expand="block" routerLink="/login">Iniciar sesión</ion-button>
        </ion-card-content>
        </ion-card>
</ion-content>


